src/main/mule/worldtimezone-api.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="b5119e1e-b085-46ea-a124-e491bc673ad0" basePath="/timezone">
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="174da911-8034-459a-8881-41f69799ac46" basePath="${basepath}">
		<http:request-connection host="${host}" protocol="${http.protocol}"/>
	</http:request-config>
	<configuration-properties doc:name="Configuration properties" doc:id="2f34a420-a981-4ce4-b9be-be64db47e967" file="worldtimezone.properties" />
	<flow name="worldtimezone-apiFlow" doc:id="5c2cd5bd-4634-4c2e-a36e-70582cb82c69" >
		<http:listener doc:name="Listener" doc:id="73480b37-9b11-4f57-b3cc-689623635f0b" config-ref="HTTP_Listener_config" path="/{region}/{city}"/>
		<http:request method="GET" doc:name="Request to worldtime api" doc:id="8db79de9-f18d-4f48-9391-40443c37a39b" config-ref="HTTP_Request_configuration" path="/{region}/{city}">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	city : attributes.uriParams.city,
	region : attributes.uriParams.region
}]]]></http:uri-params>
		</http:request>
	</flow>
</mule>
